.second-counter {
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
  }
  
  .counter {
    text-align: center;
    transition: color 0.1s ease;
  }
  
  .blink-effect {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .color-primary {
    color: rgb(81, 81, 144);
  }
  
  .color-secondary {
    color: rgb(67, 121, 67);
  }
  
  .color-tertiary {
    color: rgb(170, 91, 91);
  }